a, a:hover{
color:black;}

.row {
margin-left:0px!important;
margin-right:0px!important;
}

.nav-item {text-align: center;
}

.nav-pills > li > a.active {
    background-color: #ff9945!important;
}

.nav-pills > li > a {
	color: #ff9945;
	border: 1px solid #ff9945;
}

.post-idea {
	border:1px solid #74e279;
}

.post-venture {
	border:1px solid #ff9945;
	
}

.idea-type {color:#74e279;
text-align:right;}
.venture-type {color:#ff9945;
text-align:right;}

.voting-idea {
	font-size: 24px; 
	color:#74e279;
}

.voting-venture {
	font-size: 24px; 
	color:#ff9945;

}

.post{
	margin-bottom:10px;
	border-radius: 3px;
	background: #FFFFFF;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
	padding-left:5px;
	padding-top:20px;
}

#propic {
	border-radius:50% 50% 50% 50%;  
   width:25px;
   height:25px;
}

.comment {
	border-bottom:1px solid gray;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:gray;
  height: 1px;
}

body {
  font-family: 'Roboto', sans-serif
}

.logout{
margin-bottom:5px;}

 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
